.blurremainload{ 

    position: absolute;
    top:0px; 
    left:0px;
    height: 100vh;
    width: 1290px;
    backdrop-filter: blur(2px); 
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 4000; 
}


.loadring{
    position: absolute;
    top:50px;
    z-index: 4000;
    top:280px;
    left:625px;
}